/* 
  We've already included normalize.css. 

  But we'd like a modern looking boilerplate. 
  Clean type, sans-serif, and a nice color palette. 
  
*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#app {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  justify-content: stretch;
  align-items: start;
  width: 100%;
  max-width: 100%;
}

main > div {
  width: 50%;
  padding: 1rem;
  max-width: 50%;
  min-height: 100dvh;
}

code {
  font-family: monospace;
  font-size: 0.85rem;
  font-weight: normal;
}